.pagination{
margin: 0 auto;
margin-top: 40px;
display: flex;
width: 400px;
}
.links{
list-style-type: none;
}
.link{
text-decoration: none;
margin-left: 20px;
font-size: 25px;
color: #000;
}
.activeLink{
color: red;
text-decoration: none;
margin-left: 20px;
font-size: 25px;
}