.title{
  text-align: center;
}
.table{
  width: 600px;
  margin: 0 auto;
  background-color: antiquewhite;
}
.sorting{
  display: flex;
  justify-content:space-around;
}
.filter{
  margin-bottom: 30px;
  cursor: pointer;
}
.input{
  height: 16px;
}
.button{
border: 1px solid black;
height: 23px;
cursor: pointer;
}